/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [bill_charge_id]
      ,[bill_id]
      ,[bill_line_id]
      ,[source_version_code]
      ,[coverage_code]
      ,[coverage_code_desc]
      ,[charge_code]
      ,[charge_code_type]
      ,[charge_code_desc]
      ,[posting_date]
      ,[encounter_date]
      ,[amount]
      ,[quantity]
      ,[unit]
      ,[location]
      ,[department_code]
      ,[department_desc]
      ,[data_source_id]
      ,[etl_source_id]
      ,[etl_src_record_id]
      ,[etl_date]
      ,[etl_job_id]
      ,[hospital_code]
      ,[cpi_number]
      ,[visit_number]
      ,[entity_code]
      ,[rendering_prov_id]
      ,[claim_line_number]
  FROM [rdc_dt].[dbo].[dt_bill_charges]
  where encounter_date>getdate()