/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [svc_medication_id]
      ,[service_id]
      ,[med_order_id]
      ,[med_location_id]
      ,[med_location_name]
      ,[med_ordering_provider_id]
      ,[med_ordering_provider_name]
      ,[med_authrz_provider_id]
      ,[med_authrz_provider_name]
      ,[med_order_type]
      ,[med_order_status]
      ,[med_order_class]
      ,[med_code]
      ,[med_code_type]
      ,[med_name]
      ,[med_display_name]
      ,[med_generic_name]
      ,[med_order_date]
      ,[med_start_date]
      ,[med_end_date]
      ,[med_quantity]
      ,[med_refill_allowed]
      ,[med_dose]
      ,[med_dose_unit]
      ,[med_route]
      ,[med_instructions_sig]
      ,[med_discont_reason]
      ,[med_discont_time]
      ,[med_order_chngd_to]
      ,[data_source_id]
      ,[deleted_ind]
      ,[etl_source_id]
      ,[etl_src_record_id]
      ,[etl_date]
      ,[etl_job_id]
  FROM [rdc_dt].[dbo].[dt_svc_medication]
  where med_start_date>=getdate()
  --or med_end_date>=getdate()