/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [patient_id]
      ,[patient_uid]
      ,[best_data_source]
      ,[first_name]
      ,[middle_name]
      ,[last_name]
      ,[title]
      ,[suffix]
      ,[birth_date]
      ,[sex_orig]
      ,[ssn]
      ,[mrn]
      ,[marital_status]
      ,[marital_status_orig]
      ,[language]
      ,[language_orig]
      ,[country_of_birth]
      ,[emp_status]
      ,[emp_status_orig]
      ,[emp_or_school_name]
      ,[occ_status_type]
      ,[ethnicity]
      ,[ethnicity_orig]
      ,[race]
      ,[race_orig]
      ,[religion]
      ,[religion_orig]
      ,[social_security_death_index]
      ,[death_date]
      ,[deceased_ind]
      ,[addr_1]
      ,[addr_2]
      ,[addr_3]
      ,[city]
      ,[zip]
      ,[country]
      ,[home_phone]
      ,[work_phone]
      ,[mobile_phone]
      ,[email_address]
      ,[etl_job_id]
      ,[etl_source_id]
      ,[etl_date]
      ,[data_source_id]
      ,[sex]
      ,[state]
  FROM [rdc_dt].[dbo].[dt_patient]
  where 
   birth_date <= '1850-01-01'
   or
   birth_date> GETDATE()
   or 
   death_date >='2019-01-01'